html{
    font-family: sans-serif;
    background-color: rgb(228, 227, 227);
   /* background-image: url(./images/teclado.jpg);
    background-size: cover;*/
    color: black;
    text-align: left;
    font-size: 1em;
    font-weight: 100;
}

.image{
    height: 40px;
}

.otros{
    background-color: rgb(213, 213, 205);
}

#datos-personales{
    background-color: rgb(212, 222, 222);
    text-align: center;
}

#profile{
    display: flex;
    margin-left: 46%;
    border-radius: 50%;
}

h1{
    font-family: "Bebas Neue", sans-serif;
}