html{
    font-family: "Montserrat";
    background-color: rgb(228, 227, 227);
   /* background-image: url(./images/teclado.jpg);
    background-size: cover;*/
    color: black;
    text-align: left;
    font-size: 1em;
    font-weight: 100;
}


#container_right{
    justify-self: center;
    border-bottom: 2px solid rgb(104, 183, 220);
}

#container_left{
    margin: 10px;
}

.image{
    height: 40px;
}

.otros{
    background-color: rgb(213, 213, 205);
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 5px;
    padding-left: 10px;
}

#datos-personales{
    background-color: rgb(212, 222, 222);
    text-align: center;
}

#profile_container{
    display: flex;
    justify-content: center;
}

#profile{
    border-radius: 50%;
}

h1{
    font-family: "Bebas Neue", sans-serif;
}

p, li{
    font-weight: 400;
}

#container-color-blocks{
    gap: 10px;
    display: flex;
    justify-content: center;
}
